__pycache__
build/
logs/
storage/
temp/
env/
*output/
*.gz
*.xz
*.fls
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.out
*.egg-info
.ipynb_checkpoints/
.coverage
.venv
.pytest_cache
dist/
doc/anisotropy/*
!doc/anisotropy/.gitkeep